name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *" 
  workflow_dispatch:
  push:
    
jobs:
  generate:
    permissions: 
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 10
    
    steps:
      - name: generate github-contribution-grid-snake.svg
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/github-contribution-grid-snake.svg?color_snake=#a9fef7&color_dots=#161b22,#4b1836,#842051,#c8306e,#fe428e
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=#a9fef7&color_dots=#161b22,#4b1836,#842051,#c8306e,#fe428e
            
      - name: push github-contribution-grid-snake.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
